* {
    background-color: black;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    position: absolute;
    right: 100px;
    top: 10%;
}

.mole {
    background-image: url('assets/mole.jpg');
    background-size: cover;

}

.text {
    position: absolute;
    top: 10%;
    left: 30px;
    color: white;
}


.submit-button{
    background-color: #555555;
    /* Black */
    border: none;
    border-radius: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    position: absolute;
}

.submit-button:hover {
    box-shadow: 0 12px 16px 0 rgba(184, 181, 181, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#gitButton {
    bottom: 40px;
    left: 30px;
}

#homeButton {
    bottom: 40px;
    left: 205px;
}